
.GroupingWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--COLOR3);
    border-radius: 5px;
    z-index: 1000;
    filter: drop-shadow(0px 0px 10px black)
}

.GroupingWindowTags {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.GroupingWindowTagsEntry {
    color: white;
    background-color: var(--COLOR2);
    padding: 1em;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0.3em;
}

.GroupingWindowTagsEntry p {
    padding: 0.2em;
    margin: 0.2em;
    background-color: var(--COLOR1);
}

.GroupingWindowNameEntry {
    padding: 1em;
}

.GroupingWindowNameEntry input {
    display: block;
    width: 80%;
    margin: auto;
}

.GroupWindowsTopBar {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.GroupWindowsTopBar button {
    background: transparent;
    border: none;
    color: white;
    font-size: larger;
    cursor: pointer;
}