.WrapperList {
    display: flex;
    flex-flow: row wrap;
    place-items: flex-start;
    padding: 15px;
    gap: 0px;
    border-radius: 15px;
}
.WrapperList.comic {
    padding:0px;
    height:auto;
    align-items: stretch;
    aspect-ratio: auto;
    place-content: center;
}
.WrapperList.comic.mobile {
    display:block;
    padding: 0px;
    gap: 0px;
    padding-top: 15px;
    padding-bottom: 25px;
    height:auto;
}

.WrapperList.loading {
    width:auto;
    height: min-content;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 0px;
    margin: auto auto auto auto;
    justify-content: center;
    text-align: center;
    padding:1em;
    font-size: x-large;
}

.WrapperList.mobile {
    justify-content: center;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.imageWall {
    background: var(--COLOR3);
    height: fit-content;
    grid-column: 2;
    margin: 0px 0px 30px 0px;
}

.emptyStyle {
    margin: auto auto auto auto;
    justify-content: center;
    text-align: center;
    padding:4em;
    font-size: x-large;

}