.WrapperList {
    display: flex;
    flex-flow: row wrap;
    place-items: flex-start;
    padding: 15px;
    gap: 0px;
    border-radius: 15px;
}
.WrapperList.comic {
    padding:0px;
    height:auto;
    align-items: stretch;
    aspect-ratio: auto;
}
.WrapperList.comic.mobile {
    display:block;
    padding: 0px;
    gap: 0px;
    height:auto;
}

.WrapperList.loading {
    margin: auto auto auto auto;
    justify-content: center;
    text-align: center;
    padding:4em;
    font-size: x-large;
}

.WrapperList.mobile {
    justify-content: center;
}

.imageWall {
    background: var(--COLOR3);
    height: fit-content;
    grid-column: 2;
    margin: 0px 0px 30px 0px;
}

.emptyStyle {
    margin: auto auto auto auto;
    justify-content: center;
    text-align: center;
    padding:4em;
    font-size: x-large;

}