.topBarPadding {
    height: 43px;
}

.contentStyle {
    display: grid;
    height: fit-content;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 5fr);
    margin: 5px 0px 0px 0px;
}

.contentStyle.mobile {
    display: grid;
    width: fit-content;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.gridStyleThumbs.mobile {
    grid-column: 1;
    grid-row: 1;
}

.gridStyleThumbs {
    grid-column: 2;
    grid-row: 1;
}

.gridStyleList.mobile {
    grid-column: 1;
    grid-row: 2;
    margin-bottom:60px;
}

.gridStyleList {
    grid-column: 1;
    grid-row: 1;
}