@keyframes fullscreenWrapperIntro {
    0% {backdrop-filter: blur(0px);background-color: transparent;}
    100% {backdrop-filter: blur(15px);background-color: #00000052;}
}

.fullscreenWrapper {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #00000052;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: hidden;
    backdrop-filter: blur(15px);
    overscroll-behavior: none;
    animation-name: fullscreenWrapperIntro;
    animation-duration: 0.5s;
}

.prevent-scroll {
    overflow: hidden;
}

.topBarPadding {
    font-size: large;
    height: 2em;
}

.topBarPadding.mobile {
    font-size: x-large;
    height: 4em;
}

.topBarPadding.mobile.landscape {
    font-size: x-large;
    height: 2em;
}
:root {
    --SIDEBARISIZE: 15vw;
}

.contentStyle {
    display: grid;
    height: fit-content;
    grid-template-columns: var(--SIDEBARISIZE) auto;
    margin: 5px 0px 0px 0px;
}

.contentStyle.contentStyleComic {
    display: block;
    grid-template-columns: 1fr;
}

.contentStyle.mobile {
    display: block;
    width: 100vw;
    overflow-x: hidden;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.gridStyleThumbs {
    grid-column: 2;
    grid-row: 1;
}

.gridStyleThumbs.mobile {
    grid-column: 1;
    grid-row: 1;
}

.gridStyleList {
    grid-column: 1;
    grid-row: 1;
    position:fixed;
    width: var(--SIDEBARISIZE);
    box-sizing: content-box;
    height: 92vh;
    margin-left: 5px;
}

.gridStyleList.mobile {
    margin-left: 0px;
    position: fixed;
    overflow-y: scroll;
    bottom: 0px;
    left:0px;
    right: 0px;
    z-index: 35;
    width: auto;
    max-height: 86vh;
    height: auto;
    background: var(--COLOR1);
    box-shadow: 0px 0px 5px 0px black;
    transition: transform 0.2s ease-in-out;
    transform: translateY(120%);
    will-change: transform;
    

}

.gridStyleList.mobile.active {
    transform: none;
    transition: transform 0.2s ease-in-out;
}