:root {
    --topBarHeight: 2em;
    --searchBarHeight: 2em;
}

.topBar {
    position: fixed;
    top: 0px;
    text-align: center;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    height: var(--topBarHeight);
    background: var(--COLOR1);
    padding: 3px 0px 3px 6px;
    box-shadow: 0 0 7px 0 black;
    z-index: 5;
    width: 100vw;
    transition: transform 0.3s linear;
    transform:translateY(0%);
}

.topBar.hidden {
    transform: translateY(-150%)
}

.topBar.mobile {
    padding: 3px 6px 3px 6px;
    font-size: x-large;
    flex-direction: column;
    height: auto;
    width: calc(100% - 12px);
    gap: 10px;
}

.topBar.topBarSettings.mobile {
    height: 2em;
}


.topBar.mobile.landscape {
    flex-direction: row;
    height: var(--topBarHeight);
}

.topBar.filePageTopBar {
    justify-content: center;
    flex-flow: row;
    gap: 5px;
    box-shadow: 0 0 0px 0 black;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s linear;
}

.topBar.filePageTopBar:hover {
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

.topBar.filePageTopBar.mobile {
    opacity: 0;
    transition: opacity 0.5s linear;
}


.topBar.filePageTopBar.mobile.visible {
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

.topBar.filePageTopBar.mobile.landscape {
    flex-flow: row;
    width: 100vw;
    height: auto;
    top: 0px;
    bottom: auto;
    padding: 3px 0px 3px 0px;
}

.buttonsBar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
    z-index: inherit;
}

.paddingDiv {
    width: 46px;
    height: inherit;
    flex-shrink: 0;
}
