:root {
    --topBarHeight: 2em;
    --searchBarHeight: 2em;
}

.topBar {
    position: fixed;
    top: 0px;
    text-align: center;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    height: var(--topBarHeight);
    background: var(--COLOR1);
    padding: 3px 0px 3px 0px;
    box-shadow: 0 0 5px 0 black;
    z-index: 5;
    width: 100vw;
}

.topBar.mobile.landscape {
    flex-direction: row;
    height: var(--topBarHeight);
}

.topBar.filePageTopBar {
    justify-content: flex-start;
    flex-flow: row;
}

.topBar.filePageTopBar.mobile {
    flex-flow: row;
    justify-content: flex-start;
    height:2em;
}

.topBar.filePageTopBar.mobile.landscape {
    flex-flow: column;
    width: 2em;
    height: 100vh;
    padding: 6px 3px 3px 3px;
}

.topBar.mobile {
    padding: 3px 6px 3px 6px;
    font-size: x-large;
    flex-direction: column;
    height:4.2em;
}

.buttonsBar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap:5px;

}

.searchBar {
    background: #ffffff;
    box-shadow: 0 0 0px 0 black;
    display: flex;
    flex-flow: row;
    height: var(--searchBarHeight);
    margin: 0px;
    min-width: 40%;
    max-width: 95vw;
    border-radius: 5px;
    overflow: auto hidden;
    flex-grow: 1;
}

.searchBar.mobile {
    height: var(--searchBarHeight);
    margin-left: auto;
    margin-right:auto;
    width:100vw;
}

.searchForm {
    height: inherit;
    flex-grow: 0;
    border-radius: 5px;
    min-width: 200px;
    width: -webkit-fill-available;
}

.searchInput {
    display: block;
    height: inherit;
    width: 99%;
    border: none;
    border-radius: 5px;
    text-align: left;
    font-size: small;
    padding: 0px 0px 0px 3px;
    margin: 0px;
    outline: none;
}

.paddingDiv {
    width: 46px;
    height: inherit;
    flex-shrink: 0;
}