:root {
    --COLOR1: #333333;
    --COLOR2: #1e1e1e;
    --COLOR3: #252526;
    --COLORRELATED: #252526b3;
    --COLORACCENT: #1c6b70;
}

.wrapperLabel {
    position: absolute;
    bottom: 0px;
}

/*  
    DESKTOP
    xsmall thumb - 100px
    small thumb - 7.5vw
    medium thumb - 11vw
    large thumb - 15.5vw

    MOBILE
    thumb - 185px

*/

@keyframes thumbnailIntro {
    0% {filter:brightness(0%) invert(1);}
    50% {filter:brightness(0%) invert(1);}
    51% {filter:brightness(0%) invert(0);}
    99% {filter:brightness(100%);}
    100% {filter:none;}
}

@keyframes coverIntro {
    0% {filter:brightness(0%) invert(1);}
    50% {filter:brightness(0%) invert(1);}
    51% {filter:brightness(0%) invert(0);}
    99% {filter:brightness(100%);}
    100% {filter:none;};
}

.thumbnailWrapper {
    position: relative;
    margin: 5px;
    /* background: var(--COLOR2); */
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px grey;
    height: 11vw;
    width: 11vw;
    max-height: 100%;
    max-width: 100%;
    transition: all 1s;
   /*  animation-name: thumbnailIntro; */
    animation-duration: 0.7s;
}

.thumbnailWrapper.mobile .thumbnail {
    object-fit: cover;
}

.thumbnailWrapper.xsmall {
    width: 7.5vw;
    height: 7.5vw;
}

.thumbnailWrapper.xsmall.mobile {
    width: 16vw;
    height: 16vw;
}

.thumbnailWrapper.small {
    min-width: 3vw;
    min-height: 3vw;
    width: auto;
    height: auto;
    aspect-ratio: 1/1;
    margin:0px;
    box-shadow: none;
}
.thumbnailWrapper.small.mobile {
    min-width: 5vw;
    min-height: 5vw;
    aspect-ratio: 1/1;
    width: auto;
    height: auto;
}

.thumbnailWrapper.relatedSmall {
    min-width: 3vw;
    min-height: 3vw;
    width: auto;
    height: 150px;
    margin:0px;
    box-shadow: none;
}

.thumbnailWrapper.relatedSmall.mobile {
    min-width: 3vw;
    min-height: 3vw;
    margin:0px;
    box-shadow: none;
    min-width: 100px;
    min-height: 100px;
    aspect-ratio: 1/1;
    width: 100px;
    height: 100px;
}

.thumbnailWrapper.medium {
    width: 11vw;
    height: 11vw;
}
.thumbnailWrapper.medium.mobile {
    width: 44vw;
    height: 44vw;
}

.thumbnailWrapper.large {
    width: 15.5vw;
    height: 15.5vw;
}
.thumbnailWrapper.large.mobile {
    width: 98vw;
    height: 98vw;
}

.thumbnailWrapper.fill {
    width: inherit;
    height: inherit;
    max-width: none;
    max-height: none;
    transition: none;
    margin:0px;
    box-shadow:none;
    border-radius: none;
    animation-name: coverIntro;
    animation-duration: 1s;
}

.thumbnailWrapper.mobile {
    border-radius: 0em;
}

.thumbnailWrapper:hover .widgetCount {
    opacity: 1;
}

.thumbnailWrapper:hover .WidgetFileTypeWrapper {
    opacity: 1;
}

.thumbnailWrapper:hover .topTags {
    opacity: 1;
}

.thumbnailWrapper:hover .bottomTags {
    opacity: 1;
}

.comic {
    width: auto;
    height: auto;
    aspect-ratio: 1/1.412;
    max-height: unset;
    max-width: unset;
}

.comic.mobile {
    width: auto;
    height: 100%;
}

.topTags {
    color: white;
    position: fixed;
    top: 3em;
    left:0px;
    right:auto;
    max-height: 90%;
    background: #000000d1;
    margin: 0px;
    width: 15%;
    text-align: center;
    font-size: 1em;
    opacity: 0;
    overflow: hidden;
}

.bottomTags {
    color: white;
    position: absolute;
    bottom: -2px;
    background: #000000a1;
    margin: 0px;
    width: 100%;
    text-align: center;
    opacity: 1;
}
