:root {
    --COLOR1: #333333;
    --COLOR2: #1e1e1e;
    --COLOR3: #252526;
    --COLORRELATED: #252526b3;
}

.thumbnail {
    padding: 0px;
    vertical-align: bottom;
    object-fit: cover;
    background: var(--COLOR2);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    /* Disables ugly blue highlight on long press */
}

.wrapperLabel {
    position: absolute;
    bottom: 0px;
}

.thumbnailWrapper {
    position: relative;
    margin: 5px;
    background: var(--COLOR2);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px black;
    min-height: 120px;
    min-width: 120px;
    height: calc(11vw);
    width: calc(11vw);
    max-height: 43vw;
    max-width: 43vw;
    transition: all 1s;
}

.thumbnailWrapper.mobile {
    height: 185px;
    width: 185px;
    border-radius: 10px;
}

.thumbnailWrapper:hover .widgetCount {
    opacity: 1;
}

.thumbnailWrapper:hover .WidgetFileTypeWrapper {
    opacity: 1;
}

.thumbnailWrapper:hover .topTags {
    opacity: 1;
}

.thumbnailWrapper:hover .bottomTags {
    opacity: 1;
}

.thumbnailImage {
    width: 100%;
    height: 100%;
}

.thumbnailComic {
    width: 250px;
    height: 370px;
}

.thumbnailWrapperComic {
    width: 250px;
    height: 370px;
    max-height: unset;
    max-width: unset;
}

.currentThumbnail {
    opacity: 0.3;
}

.topTags {
    color: white;
    position: absolute;
    top: 0px;
    max-height: 35%;
    background: #000000d1;
    margin: 0px;
    width: 100%;
    text-align: center;
    font-size: 1em;
    opacity: 0;
}

.bottomTags {
    color: white;
    position: absolute;
    bottom: -2px;
    background: #000000a1;
    margin: 0px;
    width: 100%;
    text-align: center;
    opacity: 1;
}