.comicCard {
    background: var(--COLOR2);
    flex-grow: 1;
    flex-shrink: 1;
    width: auto;
    max-width: 23vw;
    min-height: 300px;
    padding: 5px;
    margin:5px;
    border-radius: 0.5em;
}

.comicCard.mobile {
    background: var(--COLOR2);
    width: calc(100% - 12px);
    max-width: 100%;
    min-height: 25vh;
    padding: 5px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 0.5em;
}

.comicCardTitle {
    padding: 3px 3px 1em 0px;
}

.comicCardTitle.mobile {
    font-size: x-large;
    padding: 3px;
}

.comicCardContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.comicCardContent.mobile {
    grid-template-columns: 2fr 3fr;
    min-height: 24vh;
}

.comicCardThumbnailRow {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    margin: 0px auto;
}

.comicCardThumbnailRow.mobile {
    grid-column: 1;
    grid-row: 1;
}

.comicCardThumbnailRowMetadata {
    padding:5px;
}

.comicCardMetadataRow {
    overflow: hidden;
    margin-left: 10px;
    padding-right: 2px;
    max-width: 100%;
    grid-column: 2;
    grid-row: 1;
}

.comicCardMetadataRow.mobile {
    font-size: larger;
}
