
@keyframes thumbnailIntro {
    0% {filter:brightness(0%) invert(1);}
    50% {filter:brightness(0%) invert(1);}
    51% {filter:brightness(0%) invert(0);}
    99% {filter:brightness(100%);}
    100% {filter:none;}
}


.thumbnail {
    padding: 0px;
    vertical-align: bottom;
    object-fit: contain;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    /* Disables ugly blue highlight on long press */
}

/* .thumbnail.loaded {
    animation-name: thumbnailIntro;
    animation-duration: 0.2s;
} */

.thumbnailImage {
    width: 100%;
    height: 100%;
}
.thumbnailImage.inactiveThumbnail {
    opacity: 0.3;
}

.thumbnailComic {
    width: 100%;
    height: 100%;
}