.WidgetFileTypeWrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #000000d1;
    padding: 3px;
    border-radius: 0px 10px 0px 0px;
    opacity: 0.15;
    pointer-events: none;
    transition:all 0.25s;
}

.WidgetFileTypeIcon {
    width: 20px;
    height: 20px;
}