@keyframes widgetCountIntro {
    0% {transform: scale(0);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

.widgetCount {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: auto;
    background: #000000d1;
    padding: 0px 10px 0px 10px;
    border-radius: 1em;
    opacity: 1;
    width: min-content;
    pointer-events: none;
    font-weight: bold;
    transition:all 0.25s;
    animation-name: widgetCountIntro;
    animation-duration: 0.5s;
}