.widgetCount {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: auto;
    background: #000000d1;
    padding: 0px 10px 0px 10px;
    border-radius: 1em;
    opacity: 1;
    width: min-content;
    pointer-events: none;
    font-weight: bold;
    transition:all 0.25s;
}