.contentWrapper {
  position: relative;
  height: auto;
  overflow: hidden;
}

.contentWrapper.mobile.landscape {
  position: relative;
  height: auto;
  overflow: hidden;
  text-align: center;
}

.styleFitHeight {
  padding: 0px;
  height: 94vh;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
  cursor: zoom-in;
}

.styleFitHeight.mobile {
  padding: 0px;
  height: 90vh;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
}

.styleFitHeight.mobile.landscape {
  padding: 0px;
  height: 100vh;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
}

.styleFitWidth {
  position:fixed;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
  cursor: zoom-out;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.897);
}