.relatedButton.mobile {
    transform: rotate(90deg);
}

.relatedButton.mobile.landscape {
    transform: none;
}

.contentSideBar {
    position:fixed;
    left:0px;
    padding-top: 3.2em;
    padding-right: 5px;
    font-size: small;
    z-index: 4;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--COLOR1);
    height: calc(100vh - 3.2em);
    width: auto;
    transition:transform 0.3s ease-in-out;
    transform: translateX(-120%);
    max-width: 20vw;
}

.contentSideBar.active {
    transform: none;
}

.contentSideBar.mobile {
    position: fixed;
    font-size: large;
    left:auto;
    margin-top:0px;
    padding-top: 0.5em;
    padding-right:0px;
    max-width: 100vw;
    width: 100%;
    bottom: 2.8em;
    z-index: 5;
    background: var(--COLOR1);
    border-radius: 5px 5px 0px 0px;
    transition: transform 0.3s ease-in-out;
    transform: translateY(120%);
    max-height: 94vh;
    height: auto;
    overflow-y: scroll;
    will-change: transform;
    padding-bottom: 1em;
}

.contentSideBar.mobile.sideBarLandscape {
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: calc(100vw - 6em);
}

.contentSideBar.mobile.active {
    transform: none;
}

.contentSideBar.mobile.active.sideBarLandscape {
    width: calc(100vw - 6em);
}

.sidebarOverlay {
    display: none;
    z-index: 2;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.sidebarOverlay.active {
    display: block;
}

.barStylePadding {
    font-size: large;
    height: 2.5em;
}

.barStylePadding.mobile {
    font-size: x-large;
    height: 2.3em;
}

.barStylePadding.mobile.landscape {
    height: 0px;
}

.filePage {
    display: block;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 5fr);
}

.filePage.mobile {
    display: block;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    background-color: black;
    height: 100vh;
}

.filePage.mobile.landscape {
    font-size: x-large;
    padding-left: 0px;
}

.fileContent.mobile {
    grid-row: 1;
    grid-column: 1;
    height: inherit;
}

.fileContent {
    grid-row: 1;
    grid-column: 2;
}

.backIconWrapper {
    position: fixed;
    top: auto;
    bottom:0px;
    left: 0px;
    margin-top:3px;
    margin-left:3px;
    z-index: 15;
    font-size: x-large;
}