.contentWrapper {
  position: relative;
  height: auto;
  overflow: hidden;
  text-align: center;
}
.contentWrapper.mobile {
  height:inherit;
}

.contentWrapper.mobile.landscape {
  position: relative;
  height: auto;
  overflow: hidden;
  text-align: center;
}

.styleFitHeight {
  cursor: auto;
  min-height: 100vh;
  max-width: 100vw;
  object-fit: contain;
  max-height: 100vh;
  pointer-events: auto;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

.styleFitHeightCopy {
  display: block;
  padding: 0px;
  height: 94vh;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
  cursor: zoom-in;
  margin:0px;
}

.styleFitHeight.mobile {
  padding: 0px;
  height: inherit;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
  margin:auto;
  pointer-events: auto;
}

.styleFitHeight.mobile.landscape {
  height: 100vh;
  width: 100vw;
  image-rendering: -webkit-optimize-contrast;
}

.styleFitWidth {
  display: block;
  position:fixed;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
  cursor: zoom-out;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.897);
}
