.metadataCard {
    background: var(--COLOR2);
    color: white;
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px black;
    font-family: verdana, sans-serif, helvetica;
}
.metadataCard.mobile {
    font-size: 0.8em;
    text-align: center;
}

.metadataCard>p {
    margin: 1px;
}

.metadataLink {
    color: lightBlue;
    text-decoration: none;
}