.relatedTextStyle {
    position: relative;
    font-size: 1em;
    margin: 1px;
}

.relatedThumbnails.mobile {
    display: flex;
    gap: 5px;
    flex-direction: row;
}

.relatedThumbnails {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 5px;
    flex-direction: column;
    overflow-x: auto;
    width: max-content;
}