.relatedTextStyle {
    position: relative;
    font-size: 1em;
    margin: 1px;
}

.relatedThumbnails {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 0px;
    flex-direction: column;
    overflow-x: auto;
    width: max-content;
}

.relatedThumbnails.mobile {
    flex-direction: row;
    padding-right: 1em;
}

.relatedStyleThumbsWrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 97%;
}
.relatedStyleThumbsWrapper.mobile {
    overflow-x: scroll;
    overflow-y: hidden;
}
.relatedStyleThumbsWrapper.mobile.landscape {
    overflow-x: hidden;
    overflow-y: scroll;
}


.relatedThumbnails.mobile.landscape {
    flex-direction: column;
    padding-right: 0px;
    padding-bottom: 1em;
}