.app {
    display:block;
    background: var(--COLOR3);
    color: white;
    margin: 0px;
    padding:0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: fit-content;
    min-height: 100%;
}