.navLink {
    color: white;
    text-decoration: none;
    display: flex;
    flex-flow: row;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.navLink.mobile {
    font-size: inherit;
}

.navLink:active {
    animation-name: navButtonClick;
    animation-duration: 0.1s;
}

@keyframes navButtonClick {
    0% {transform: scale(1);}
    50% {transform: scale(0.8);}
    100% {transform: scale(1);}
}

.navBar {
    padding: 2em 1em 1em 0.5em;
    font-size: large;
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--COLOR2);
    display: flex;
    gap: 15px;
    flex-flow: column;
    justify-items: left;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px black;
    overflow: hidden;
    height: 100%;
    width: 5.5em;
    z-index: 500;
    transition: transform 0.2s,box-shadow 0.2s ease-in-out;
    transform: translateX(-100%);
}

.navBar.expanded {
    background: var(--COLOR2);
    box-shadow: 0px 0px 8px 0px black;
    transform: none;
}

.navBar.mobile {
    font-size: x-large;
    top: 0px;
    bottom: auto;
}

.navBar.mobile.expanded {
    top: 0px;
    bottom: auto;
    background: var(--COLOR2);
    width: 6em;
    box-shadow: 0px 0px 7px 0px black;
}

.navButtonLabel {
    line-height: 2em;
    padding: 0px 0px 0px 8px;
}

.navFullscreen {
    display: none;
    background-color: transparent;
}
.navFullscreen.expanded {
    display:block;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
}
