.navLink {
    color: white;
    text-decoration: none;
    display: flex;
    flex-flow: row;
    cursor:pointer;
}

.navLink.mobile {
    font-size: inherit;
}

.navBar {
    padding: 3px;
    font-size: large;
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--COLOR1);
    display: flex;
    gap: 15px;
    flex-flow: column;
    justify-items: left;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px black;
    overflow: hidden;
    height: 2em;
    width: 2em;
    padding: 3px;
    z-index: 500;
    transition: all 0.2s ease-in-out;
}

.navBar.expanded {
    background:var(--COLOR2);
    padding: 1em 1em 1em 0.5em;
    box-shadow: 0px 0px 8px 0px black;
    height: 100%;
    width: 5.5em;
}

.navBar.mobile {
    background:var(--COLOR1);
    gap: 2em;
    font-size: x-large;
}

.navBar.mobile.expanded {
    background:var(--COLOR2);
    width: 6em;
    box-shadow: 0px 0px 7px 0px black;
}

.navButtonLabel {
    line-height: 2em;
    padding: 0px 0px 0px 8px;
}