.tagList {
    padding: 5px;
    margin: 5px;
    max-height: 94vh;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: small;
    background-color: var(--COLOR2);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px black;
    display:flex;
    flex-wrap:wrap;
}

.tagList.mobile {
    max-height: max-content;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 0.8em;
}

.tagEntry {
    cursor: pointer;
    padding: 2px 4px 4px 2px;
    margin: 2px;
    width: fit-content;
    font-size: 1em;
    font-family: verdana, sans-serif, helvetica;
}

@keyframes tagBlobIntro {
    0% {transform: scale(0.7);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}


@keyframes tagBlobClick {
    0% {transform: scale(1);}
    50% {transform: scale(0.7);}
    100% {transform: scale(1);}
}


.tagEntry.blob {
    border-radius: 5px;
    place-self: center;
    padding: 8px 1px 8px 1px;
    flex-grow: 1;
    flex-shrink: 2;
    text-align: center;
    animation-name: tagBlobIntro;
    animation-duration: 0.5s;
}

.tagEntry.blob.removed {
    animation-name: tagBlobIntro;
    animation-duration: 0.5s;
    animation-direction: reverse;

}

.tagEntry.blob:hover {
    filter:brightness(150%)
}

.tagEntry.blob:active {
    animation-name: tagBlobClick;
    animation-duration: 0.5s;
}

