.tagList.mobile {
    padding: 5px;
    margin: 5px;
    min-height: auto;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 1.1em;
    background-color: var(--COLOR2);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px black;
}

.tagList {
    padding: 5px;
    margin: 5px;
    min-height: 50vh;
    max-height: 92vh;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 12px;
    background-color: var(--COLOR2);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px black;
}

.tagEntry {
    cursor: pointer;
    padding: 2px 4px 4px 2px;
    margin: 2px;
    width: fit-content;
    font-size: 1em;
    font-family: verdana, sans-serif, helvetica;
}