.settingsPage {
    padding-top: 3em;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: right;
    font-size: large;
    gap: 15px;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 15px;
    justify-content: center;
}

.settingsPage.mobile {
    padding-top:0px;
    margin-top: 3.5em;
    text-align: center;
    margin-bottom: 10%;
}

.settingsBar {
    background: #ffffff;
    box-shadow: 0 0 0 0 grey;
    height: 30px;
    width: 33vw;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: large;
}

.settingsBar.mobile {
    background: #ffffff;
    box-shadow: 0 0 0 0 grey;
    height: 30px;
    width: 90vw;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: large;
}


.searchBarSt {
    background: #ffffff;
    box-shadow: 0 0 0px 0 black;
    display: flex;
    flex-flow: rows;
    height: 65px;
    margin: 4px;
    min-width: 40%;
    max-width: 95vw;
    border-radius: 5px;
    overflow: auto hidden;
    flex-grow: 1;
}

.formStyle {
    height: inherit;
    flex-grow: 0;
    border-radius: 5px;
    min-width: 200px;
    width: -webkit-fill-available;
}

.labelStyle {
    display: block;
    height: inherit;
    width: inherit;
}

.inputStyle {
    display: block;
    height: inherit;
    width: 99%;
    border: none;
    border-radius: 5px;
    text-align: left;
    font-size: small;
    padding: 0px 0px 0px 3px;
    margin: 0px;
    outline: none;
}

.transcodeEnabledButton {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(66, 65, 65);
    border: 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.transcodeEnabledButton.enabled {
    background-color: rgb(62, 112, 62);
}